/* TEST */



/* Box Model Hack */
* {
  box-sizing: border-box;
  text-align: center;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(214,215,217,0.9682247899159664) 74%, rgba(184,193,195,1) 95%);
}

section{
  margin: 50px 0px 75px 0px;
}

#result{
  text-align: center;
}

@media screen and (max-width: 600px){
  #result{
    color:red;
    height: 600px;
    width: 300px;
    margin-left: 75px;
  }
}






/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/****************************************** */
